/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bạn có thể thêm font chữ nội bộ hoặc các tùy chỉnh khác ở đây */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
