body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
  background: #f4f4f9;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.video-container {
  position: relative;
  width: 100%;
  /* Tỷ lệ mới: chiều cao bằng 2/3 chiều rộng */
  padding-top: 60%;
}

/* Đảm bảo hình ảnh lấp đầy vùng chứa và đúng tỷ lệ */
#video {
  position: absolute;
  top: 0;
  left: 0;
}
